# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_gnu
absl-py=0.11.0=pypi_0
blas=1.0=mkl
blis=0.7.4=pypi_0
ca-certificates=2020.12.5=ha878542_0
cachetools=4.2.0=pypi_0
catalogue=2.0.4=pypi_0
catboost=0.24.4=pypi_0
certifi=2020.12.5=py36h5fab9bb_0
chardet=4.0.0=pypi_0
click=7.1.2=pypi_0
contextvars=2.4=pypi_0
cudatoolkit=10.1.243=h036e899_6
cycler=0.10.0=pypi_0
cymem=2.0.5=pypi_0
data=0.4=pypi_0
dataclasses=0.7=pyhe4b4509_6
decorator=4.4.2=pypi_0
en-core-web-sm=3.0.0=pypi_0
flashtext=2.7=pypi_0
freetype=2.8.1=hfa320df_1
funcsigs=1.0.2=pypi_0
future=0.18.2=pypi_0
gensim=4.0.1=pypi_0
glove-python=0.1.0=pypi_0
google-auth=1.24.0=pypi_0
google-auth-oauthlib=0.4.2=pypi_0
grpcio=1.34.0=pypi_0
idna=2.10=pypi_0
imageio=2.9.0=pypi_0
immutables=0.15=pypi_0
importlib-metadata=3.3.0=pypi_0
intel-openmp=2020.2=254
jinja2=3.0.1=pypi_0
joblib=1.0.0=pypi_0
jpeg=9b=h024ee3a_2
kiwisolver=1.3.1=pypi_0
latex=0.7.0=pypi_0
ld_impl_linux-64=2.35.1=hea4e1c9_1
libffi=3.3=h58526e2_2
libgcc-ng=9.3.0=h5dbcf3e_17
libgomp=9.3.0=h5dbcf3e_17
libpng=1.6.37=h21135ba_2
libstdcxx-ng=9.3.0=h2ae2ef3_17
libtiff=4.0.9=he6b73bb_1
libuv=1.40.0=h7f98852_0
llvmlite=0.35.0=pypi_0
markdown=3.3.3=pypi_0
markupsafe=2.0.1=pypi_0
matplotlib=3.3.3=pypi_0
mkl=2020.2=256
mkl-service=2.3.0=py36h8c4c3a4_2
mkl_fft=1.2.0=py36h68bb277_1
mkl_random=1.2.0=py36h7c3b610_1
mock=4.0.3=pypi_0
murmurhash=1.0.5=pypi_0
ncurses=6.2=h58526e2_4
networkx=2.5=pypi_0
nibabel=3.2.1=pypi_0
ninja=1.10.2=h4bd325d_0
numba=0.52.0=pypi_0
numpy=1.19.2=py36h54aff64_0
numpy-base=1.19.2=py36hfa32c7d_0
oauthlib=3.1.0=pypi_0
olefile=0.46=pyh9f0ad1d_1
opencv-python=4.4.0.46=pypi_0
openssl=1.1.1i=h7f98852_0
packaging=20.8=pypi_0
pandas=1.1.5=pypi_0
pathy=0.5.2=pypi_0
patsy=0.5.1=pypi_0
pip=20.3.3=pyhd8ed1ab_0
plotly=4.14.3=pypi_0
preshed=3.0.5=pypi_0
protobuf=3.14.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pynndescent=0.5.2=pypi_0
pyparsing=2.4.7=pypi_0
python=3.6.12=hffdb5ce_0_cpython
python-dateutil=2.8.1=pypi_0
python-graphviz=0.16=pypi_0
python-levenshtein=0.12.2=pypi_0
python_abi=3.6=1_cp36m
pytz=2020.4=pypi_0
pywavelets=1.1.1=pypi_0
readline=8.0=he28a2e2_2
requests=2.25.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
retrying=1.3.3=pypi_0
scattertext=0.1.2=pypi_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.4=pypi_0
seaborn=0.11.1=pypi_0
setuptools=49.6.0=py36h9880bd3_2
shap=0.37.0=pypi_0
shutilwhich=1.1.0=pypi_0
six=1.15.0=pyh9f0ad1d_0
slicer=0.0.3=pypi_0
smart-open=3.0.0=pypi_0
spacy=3.0.6=pypi_0
spacy-legacy=3.0.6=pypi_0
sqlite=3.34.0=h74cdb3f_0
srsly=2.4.1=pypi_0
statsmodels=0.12.2=pypi_0
tabulate=0.8.7=pypi_0
tempdir=0.7.1=pypi_0
tensorboard=2.2.0=pypi_0
tensorboard-plugin-wit=1.7.0=pypi_0
thinc=8.0.5=pypi_0
threadpoolctl=2.1.0=pypi_0
tifffile=2020.9.3=pypi_0
tk=8.6.10=h21135ba_1
torch=1.8.1=pypi_0
torchaudio=0.7.2=py36
torchtext=0.9.1=pypi_0
torchvision=0.8.2=py36_cu101
tqdm=4.54.1=pypi_0
typer=0.3.2=pypi_0
typing_extensions=3.7.4.3=py_0
umap-learn=0.5.1=pypi_0
wasabi=0.8.2=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.36.2=pyhd3deb0d_0
wordcloud=1.8.1=pypi_0
xgboost=1.3.3=pypi_0
xz=5.2.5=h516909a_1
zipp=3.4.0=pypi_0
zlib=1.2.11=h516909a_1010
